---
---
<!DOCTYPE html>
<html lang="en" class="scroll-smooth md:scroll-auto">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ title or metadata.title }}</title>
        {# Metadata #}
        <meta name="description" content="{{ metadata.description }}"/>
        <meta name="generator" content="{{ eleventy.generator }}"/>

        {# Icons #}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/apple-touch-icon.png' }}"/>
        <link rel="icon" type="image/svg+xml" href="{{ '/static/favicon.svg' }}"/>
        <link rel="icon" type="image/png" sizes="32x32" href="{{ '/static/favicon-32x32.png'  }}"/>
        <link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/favicon-16x16.png'  }}"/>
        <link rel="shortcut icon" href="{{ '/static/favicon.ico' }}"/>
        <link rel="manifest" href="{{ '/site.webmanifest'  }}"/>
        {%- if preload %}
            {%- for link in preload %}
                <link rel="preload" as="image" href="{{ link }}">
            {%- endfor %}
        {%- endif %}

        <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet"/>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ metadata.google_id }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', '{{ metadata.google_id }}');
        </script>

        <link media="screen" rel="stylesheet" href="{{ '/site.css' }}"/>
        <style>
            {% getBundle "css" %}
        </style>
    </head>

    <body class="font-sans leading-normal tracking-normal text-gray-900">

        <div class="flex flex-col lg:flex-row bg-gray-50 min-h-screen">

            {% include 'dashboard-navigation.njk' %}

        </div>

        <main class="flex-1 px-4 py-6 lg:px-6 lg:py-10 w-full ml-12 overflow-x-hidden">
            {# flex-1 px-4 py-6 lg:px-6 lg:py-10 #}
            {# TODO: Add top-navigation #}

            {# {% include "navigation3.njk" %} #}

            <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md w-full mt-10 overflow-x-hidden">
                {{ content | safe }}
            </div>

            {% include "dashboard-footer.njk" %}
        </main>

        {% include "scroll-top-button.njk" %}

        {# {% include "footer.njk" %} #}
        <script src="/assets/js/main.js"></script>
        {# <script src="https://unpkg.com/@material-tailwind/html@2.3.2/scripts/collapse.js"></script> #}
        <script src="https://unpkg.com/@material-tailwind/html@2.3.2/scripts/ripple.js"></script>
        {# <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script> #}
        <script src="https://cdn.jsdelivr.net/npm/fuse.js@7.1.0"></script>

        <script>
            let fuse;
            const input = document.getElementById("searchInput");
            const resultsList = document.getElementById("search-results");

            fetch("{{ "/search.json" | url }}")
                .then(res => res.json())
                .then(data => {
                    fuse = new Fuse(data, {
                        keys: [
                            "title", "content"
                        ],
                        includeScore: true,
                        threshold: 0.3
                    });
                });

            input.addEventListener("input", () => {
                const query = input
                    .value
                    .trim();
                resultsList.innerHTML = "";
                if (!query || !fuse) 
                    return;
                
                const results = fuse
                    .search(query)
                    .slice(0, 5);
                results.forEach(({item}) => {
                    const li = document.createElement("li");
                    li.innerHTML = `<a href="${item.url}" class="block hover:underline">${item.title}</a>`;
                    resultsList.appendChild(li);
                });
            });
        </script>
    </body>
</html>