---
title: Registration is Now Open for the 2025 DLF Forum, Learn@DLF Program Available
cover: /static/nico-smit-QnkzvFCxKrA-unsplash.webp
blurb: Registration is now open for the in-person Digital Library Federation’s (DLF) Forum and Learn@DLF, happening in Denver, Colorado, November 16-19, 2025.
excerpt: Registration is now open for the in-person Digital Library Federation’s (DLF) Forum and Learn@DLF, happening in Denver, Colorado, November 16-19, 2025.
drafts: false
date: 2025-05-13
preload:
    - /static/nico-smit-QnkzvFCxKrA-unsplash.webp
---

<section id="community-voting" class="mx-auto container max-w-5xl px-8 py-10">
    <div class="mx-auto max-w-(--breakpoint-md)">
        <p class="text-lg block antialiased font-sans leading-relaxed text-inherit text-base font-normal! mb-6">
            Registration is now open for the in-person <strong>Digital Library Federation’s</strong>
            <a class="underline" href="https://forum2025.diglib.org">(DLF) Forum</a> and Learn@DLF, happening in Denver, Colorado, November 16-19, 2025.
        </p>

        <p class="text-lg block antialiased font-sans leading-relaxed text-inherit text-base font-normal! mb-6">
            <a target="_blank" class="underline" href="https://dlfforum2025.sched.com/">
                <strong>The program for Learn@DLF, which features 6 exciting workshops, is also now available.</strong>
            </a> The DLF Forum program will be released in early summer.</p>

        <p class="text-lg block antialiased font-sans leading-relaxed text-inherit text-base font-normal! mb-6">
            <strong>Secure</strong> the <a class="underline" href="https://forum2025.diglib.org/registration/">early bird rate</a>, <b>register</b> for Learn@DLF workshops, and <b>start planning</b> for yet another memorable week with DLF.
            </p>

        <p class="text-lg block antialiased font-sans leading-relaxed text-inherit text-base font-normal! mb-6"> 
            DLF member organizations receive one complimentary DLF Forum registration as part of their member benefits. Not sure who received your code? Email us at <a href="mailto:forum@diglib.org">forum@diglib.org</a>.
            </p>

        <p class="mt-20 text-center">
            <a target="_blank" href="https://forum2025.diglib.org/registration/" class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-sm py-3.5 px-7 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none bg-gray-900" type="button" data-ripple-light="true">
                Register Today!
            </a>
        </p>

        <p class="mt-20 text-lg block antialiased font-sans leading-relaxed text-inherit text-base font-normal! mb-6"> 
            If you have any questions, please write to us at <a class="underline" href="mailto:forum@diglib.org">forum@diglib.org</a>. We’re looking forward to seeing you in Denver this fall.</p>

        <p class="text-lg block antialiased font-sans leading-relaxed text-inherit text-base font-normal! mb-6"> 
            -Team DLF</p>
        <p class="text-lg block antialiased font-sans leading-relaxed text-inherit text-base font-normal! mb-6"> 
            P.S. Want to stay updated on all things related to the DLF Forum? <a target="_blank" class="underline" href="https://share.hsforms.com/1MhcafbpARxGCIS1OQD6rKgc21y3">Subscribe to our Forum newsletter</a>.
        </p>
    </div>
</div>
</section>